{% extends 'base.html' %}

{% block content %}

<div>
    <table>
        <thead>
            <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Date Joined</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action='' method='POST'>
                        <button type="submit" name="delete" value="{{  user.id  }}"> Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}